<ion-view view-title="Enrolar Usuario">
  <ion-content>
    
    <md-content class="md-padding">
    <form name="projectForm" ng-submit="newUser(enrolForm,$event)">
      <md-input-container>
        <label>Nombre</label>
        <input md-maxlength="15" required name="name" ng-model="enrolForm.Name">
        <div ng-messages="enrolForm.Name.$error">
          <div ng-message="required">Debes ingresar un nombre.</div>
          <div ng-message="md-maxlength">El nombre debe tener menos de 15 caracteres</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Apellido</label>
        <input required name="LastName" ng-model="enrolForm.LastName">
        <div ng-messages="enrolForm.LastName.$error">
          <div ng-message="required">Debes ingresar un apellido.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label>Cédula de identidad</label>
        <input required type="number" step="any" name="Identification" ng-model="enrolForm.Identification">
        <div ng-messages="enrolForm.Identification.$error">
          <div ng-message="required">Debes ingresar una cédula</div>
          </div>
      </md-input-container>
       
      <md-input-container flex>
          <label>Fecha de Nacimiento</label>
          <input type="date" required ng-model="enrolForm.BirthDay">
        <div ng-messages="enrolForm.BirthDay.$error">
          <div ng-message="required">Debes ingresar una fecha</div>
          </div>
        </md-input-container>
      <md-button class="md-raised md-primary">Enrolar</md-button>
    </form>
  </md-content>
  </ion-content>
</ion-view>