.green {
/*	background: #b9f6ca;*/
	background-image:url("/img/entrando.jpg");
	background-size: 130%;
	color: #777; 
}

.red {
/*	background: #ff8a80;*/
	background-image:url("/img/goodbye.jpg");
	background-size: 119%;
	color: #777; 
}
.red-lunch {
	background: #ff8a80;
	background-image:url("/img/lunch-exit.jpg");
	background-size: 100%;
	color: #777; 
}
.icon-sm{
	height:64px; 
	width:64px;
	font-size:64px; 
}
.icon{
	height:128px; 
	width:128px;
	font-size:128px;
}
.blue  {
	background-image:url("/img/lunch.jpg");
	background-size: 100%;
/*	background: #84ffff; */
	color: #777;
}

md-grid-tile.md-whiteframe-z4:active {
	top: 2px!important;
}

.tile-title{
	color:white;
	font-size: 25px;
}

md-grid-list md-grid-tile md-grid-tile-footer{
	background: rgba(0, 0, 0, 0.68);
}
/*.nav-bar-block, .bar {
  background-color: #89AACB  !important;
}*/

nav-bar-positive, .bar-light {
  background-color: #89AACB  !important;
}